
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
assets/Sources/2K/
assets/Resource/4K/
assets/Resource/4K.meta
assets/Resource/2K/
assets/Resource/2K.meta
assets/Resource/4KH/
assets/Resource/4KH.meta
